@page "/InventoryManager/{InventoryId}"


@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using InventoryApp.Data
@using Microsoft.EntityFrameworkCore


@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]


<PageTitle>Inventory</PageTitle>

<h1>Inventory</h1>

<TabControl>
    <TabPage Text="Items">
        <h1>The second tab</h1>
    </TabPage>
    <TabPage Text="Edit">
        <h1>The second tab</h1>
    </TabPage>
    <TabPage Text="Permissions" 
             CurentInventory="@curentInventory" 
             PermissionType="@Permissions.Write">
        <PermissionTab curentInventory= "@curentInventory"></PermissionTab>
    </TabPage>
</TabControl>

@if (curentInventory is null)
{
    <h2>@InventoryId</h2>
    <p>
        <em>Inventory @InventoryId is not found</em>
    </p>
}
else
{
    <h2>@curentInventory.InventoryName</h2>
    <p>
        <em>@curentInventory.Description</em>
    </p>
    
    
}

@code {
    [Parameter]
    public String InventoryId { get; set; }
    
    private ApplicationUser _appUser;
    private InventoryPermissions _permission;
    private Inventory curentInventory = new Inventory();
    
    
    private EditContext editContext = default!;
    private readonly ApplicationDbContext _dbContext;
    
    List<Inventory> inventoryList = [];
    List<DisplayModel> displayList = [];
    HashSet<Inventory> selectedInventory = new HashSet<Inventory>();
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    public InventoryPage(ApplicationDbContext dbContext)
    {
        _dbContext = dbContext;
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadInventory();
        

    }

    private async Task LoadInventory()
    {
        curentInventory = await _dbContext.Inventories.FirstOrDefaultAsync(x => x.InventoryID.ToString() == InventoryId);
        StateHasChanged();
    }

    private bool havePermission(string permissionType)
    {
        Console.WriteLine("------------------------------------");
        Console.WriteLine(_permission != null);
        if (_permission != null)
        {
            /*
            Console.WriteLine(_permission.Permission);
            Console.WriteLine(permissionType);
            Console.WriteLine();
            Console.WriteLine(_permission.Permission == permissionType);
            Console.WriteLine();
            */
            Console.WriteLine(_permission.Permission == permissionType);
            return _permission.Permission == permissionType;
        }
        return false;
    }
    

    private sealed class DisplayModel
    {
        public Guid? ID { get; set; }
        public string Owner { get; set; } = "";
        public string Name { get; set; } = "";
        public string Description { get; set; } = "";
        public Inventory  ThisInventory { get; set; } = new Inventory();
    }
    
} 