@page "/InventoryManager/{InventoryId}"


@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Identity
@using InventoryApp.Data
@using Microsoft.EntityFrameworkCore


@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@inject InventoryPermissionManager PermissionManager
@attribute [Authorize]


<PageTitle>Inventory</PageTitle>

<div class="card m-2">
    <h5 class="card-header">@_currentInventory.InventoryName</h5>
    <div class="card-body" style="white-space: pre-wrap">
        @_currentInventory.Description
    </div>
</div>

@_currentInventory.Description

<TabControl>
    <TabPage Text="Items">
        <h1>The second tab</h1>
    </TabPage>
    @if (CanEdit())
    {
        <TabPage Text="Edit">
            <EditTab CurrentInventory= "@_currentInventory"></EditTab>
        </TabPage>
        <TabPage Text="Permissions">
            <PermissionTab CurrentInventory= "@_currentInventory"></PermissionTab>
        </TabPage>
    }
</TabControl>



@code {
    [Parameter]
    public String InventoryId { get; set; }

    private bool _isOwner = false;
    private bool _isAdmin = false;
    
    private ApplicationUser? _appUser;
    private string _permissionString;
    private Inventory _currentInventory = new Inventory();
    
    private readonly ApplicationDbContext _dbContext;
    
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    public InventoryPage(ApplicationDbContext dbContext)
    {
        _dbContext = dbContext;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadInventory();
        
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _permissionString = await PermissionManager.GetPermissionAsync(_currentInventory, user);
        _appUser = await UserManager.GetUserAsync(user);
        
        _isOwner = _currentInventory.OwnerID == _appUser.Id;
        var roles = await UserManager.GetRolesAsync(_appUser);
        _isAdmin = roles.Contains(Roles.Admin);

    }

    bool CanEdit() => _permissionString == Permissions.Write || _isOwner || _isAdmin;
    
    private async Task LoadInventory()
    {
        _currentInventory = await _dbContext.Inventories.FirstOrDefaultAsync(x => x.InventoryID.ToString() == InventoryId);
        StateHasChanged();
    }

    private sealed class DisplayModel
    {
        public Guid? ID { get; set; }
        public string Owner { get; set; } = "";
        public string Name { get; set; } = "";
        public string Description { get; set; } = "";
        public Inventory  ThisInventory { get; set; } = new Inventory();
    }
    
} 